extend ../index/main

block content
	.container
		form.form-horizontal(method="post", action="/study_plan/create")
			.form-group
			.form-group
			.form-group
				label.col-md-2.col-md-offset-1.control-label(for='subject' style="font-size:20px; color:#F4A460; text-align: left") 学科
				.col-md-3
					select.form-control.input-md(name = 'subject')
						option 计算机
			.form-group
				label.col-md-2.col-md-offset-1.control-label(for='category' style="font-size:20px; color:#F4A460; text-align: left") 类别
				.col-md-3
					select.form-control.input-md(name = 'category')
						option 数据库
						option Node.js
						option 源码
						option NPM模块
						option 架构
						option JavaScript
						option React
						option HTML+CSS
						option 其它
			.form-group
				label.col-md-2.col-md-offset-1.control-label(for='planTime' style="font-size:20px; color:#F4A460; text-align: left") 计划完成时间
				.col-md-3
					input.form-control(name='planTime', placeholder='时间' id='datetimepicker')
			.form-group
				label.col-md-2.col-md-offset-1.control-label(for='content' style="font-size:20px; color:#F4A460; text-align: left") 内容
				.col-md-5
					textarea.form-control(row=5, name='content', placeholder='内容' style="height: 100px")
			.form-group
				.col-md-offset-3
					h3.text-danger #{info}
			.form-group
				.col-md-offset-3.col-md-1
					button.btn.btn-success(type='submit') 提交
	script(type='text/javascript').
		window.onload = function(){
			$('.study_plan_create').css("color", "black");
			$('#datetimepicker').datetimepicker({
				language: 'zh-CN',
				format: 'yyyy-mm-dd hh:ii',
				autoclose: true,
				todayBtn: true,
				todayHighlight: true
			});
		}